<div class = "main-header">
  <div class = "left-header">
    <div class = "room-name">
    hogefuga
    </div>
  </div>
  <div class = "end-btn">
    <a href = "@">チャットを終了する</a>
  </div>
</div>

<div class = "chat">
  <div class = "chat-info">
    <div class = "chat-name">
    TOM
    </div>
    <div class = "chat-date">
    2021/3/15(TUE) 14:51
    </div>
  </div>
  <div class = "chat-contents">
  大好き
  </div>
  <div class = "chat-info">
    <div class = "chat-name">
    TOM
    </div>
    <div class = "chat-date">
    2021/3/15(TUE) 14:51
    </div>
  </div>
  <div class = "chat-contents">
  大好き
  </div>
</div>

<div class= "chat-bottom">
  <div class = "text-box">
    <input class = "form" placeholder = "message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class = "form-submit" type = "submit" value = "送信">
</div>