<div class = "side-header">
  <div class = "user-name">
    <a href = "@">Miyuki</a>
  </div>
  <div class = "chat-make">
    <a href =  "/@/" >"チャットを作成する"</a>
  </div>
</div>

<div class = "side-main">
  <div class = rooms>
    <a href = "@">miyuki</a>
</div>